[Unit]
Description=Unstet-Server

[Service]
Type=simple
ExecStart=/usr/bin/unstet-daemon
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
