[Desktop Entry]
Name=Unstet-Presenter
Comment=Unstet Presenter
Exec=unstet-presenter
Terminal=false
Type=Application
Icon=unstet-player.png
Categories=Video
