Source: unstet
Section: unknown
Priority: extra
Maintainer: Basil Stotz <stotz@amxa.ch>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Package: unstet
Architecture: all
Version: %%version%% 
Depends: nodejs,npm,chromium,liblo-tools,osctools,x11vnc,unclutter
Description: Unstet
 Unstet
